
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


@for(int i=1;i<=10;i++)
            {
                <h1>@i</h1>
            }

@{ 
    int a = 90;
    int b = 90;
    int c = a + b;



        }
<h1>@c</h1>
